@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */

@layer base {
  @font-face {
    font-family: "calvera";
    src: url("./assets/fonts/Calvera.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "menulis";
    src: url("./assets/fonts/menulis.ttf");
    font-display: swap;
  }
}

:root {
  --font-size: medium;
}

html {
  overflow: hidden;
  height: 100%;
}
body {
  margin: 0;
  font-size: var(--font-size);
}

.bg-radial {
  background: radial-gradient(circle, var(--tw-gradient-stops));
}

.clip-diagonal-y {
  clip-path: polygon(0 0, 100% 4rem, 100% calc(100% - 4rem), 0 100%);
}

.fix-input {
  font-size: var(--font-size) !important;
}

.drop-shadow-custom {
  filter: drop-shadow(2px 4px 6px black);
}

@media (max-width: 640px) {
  .table-dinamic {
    /* table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    } */

    thead {
      display: none;
    }

    td {
      display: flex;
      justify-content: space-between;
    }

    td:before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      align-self: center;
      margin-right: 0.5rem;
    }
  }
}
